<!DOCTYPE html>
  <html>
    <head>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <nav>

        <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo">Cosmos</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

       <ul class="right hide-on-med-and-down">
		<li><a href="/profile"><i class="material-icons right">portrait</i>Profile</a></li>
	<li><a href="/updatefine"><i class="material-icons right">cached</i>Update Fine</a></li>
<li><a href="/all_users"><i class="material-icons right">portrait</i>All Users</a></li>
    <li><a href="/logout"><i class="material-icons right">lock_open</i>Sign Out</a></li>
  </ul>

    </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <a  class="brand-logo center ">LIBRARY MANAGEMENT SYSTEM</a>
      </ul>

      <img class="pulse hide-on-med-and-down" src="images/logo.JPG" style="position:absolute; height:15%;width:auto;border-radius:50%;top:6%;left:45%;box-shadow:5px;">
  <br><br><br>
   <center>
<h1 style="font-family:'IM Fell French Canon SC', serif;color:teal">Users</h1>
   </center>
      <br>
      <br>

      <table  class="responsive-table centered striped">
        <thead>
          <tr>
              <th>NAME</th>
              <th>Roll NUMBER</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Username</th>
              <th>Role</th>
              <th>Status</th>
              <th>Register Date</th>
              <th>Expiry Date</th>
              <th>Fine</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i=0;i<found.length;i++){ %>
          <tr>
            <td><%=found[i].name%></td>
            <td><%=found[i].rollno%></td>
            <td><%=(found[i].DOB||new Date("01/01/1970")).toDateString()%></td>
            <td><%=found[i].email%></td>
            <td><%=found[i].username%></td>
            <td><%=found[i].role%></td>
            <td><%=found[i].confirmed%></td>
            <td><%=(found[i].create||new Date("01/01/1970")).toDateString()%></td>
            <td><%=(found[i].expiry||new Date("01/01/1970")).toDateString()%></td>
            <td><%=found[i].Fine%></td>
          </tr>
        <%}%>
        </tbody>
      </table>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>


  </div>
</div>

<%- include('partials/footer') %>
